@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

img {
    width: 100%;
}

* {
    text-transform: capitalize;
    font-family: "Mukta", "sans-serif";
}
a {
    text-decoration: none;
}
#editProduct input:not(input[type=file]) {
width: 300px;
outline: none;
border: 1px solid cornflowerblue;
text-align: center;
}

#editProduct select {
    border: 1px springgreen solid;
    outline:none;
    width: 300px;
    text-align: center;
}

#editProduct {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input[name=image]{
    width: 70%;
}
#image {
    text-align: center;
}
